<!-- <form action="/user/payment" method="post"> -->
<!-- <form action="/user/payment" method="POST" onsubmit="submitForm(this);return false"> -->
<style>
    .radio {
        padding-bottom: 10px;
    }
</style>


<div class="column">
    <div class="field">
        <h3 style="font-size:4vw"><b>Payment method</b></h3>
    </div>
    <div>
        <div class="columns">
            <div class="column">
                <b>Total amount:</b>
                $<%= record.records[record.records.length - 1].total %>
            </div>
            <div class="column">
                <b>Current balance:</b>
                $<%= req.session.value %>
            </div>
        </div>
    </div>
    <br>
    <div>
        <label class="radio">
            <input type="radio" name="method" value="creditCard" id="method">
            By credit card (Please input the CVV code behind your credit card.)
        </label>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
                <input class="input" type="text" name="cardNum" value="<%= req.session.cardNum %>" disabled>
            </div>

            <div class="column is-one-fifth">
                <input class="input" type="text" name="safeCode" value="">
            </div>
        </div>
    </div>
    <br>
    <div>
        <label class="radio">
            <input type="radio" name="method" value="ownValue" id="method">
            By own value
        </label>
    </div>
    <!-- <input type="hidden" name="method" value="ownValue"> -->
    <input class="input" type="hidden" name="title" value="<%= record.records[record.records.length - 1].title %>">
    <input class="input" type="hidden" name="price" value="<%= record.records[record.records.length - 1].price %>">
    <input class="input" type="hidden" name="quantity"
        value="<%= record.records[record.records.length - 1].quantity %>">
    <input class="input" type="hidden" name="total" value="<%= record.records[record.records.length - 1].total %>">
    <input class="input" type="hidden" name="make" value="<%= req.session.userid %>">
    <div class="field">
        <div class="control">
            <button class="button is-link is-pulled-right" type="submit"
                onclick="submit('<%= record.records[record.records.length - 1].title %>','<%= record.records[record.records.length - 1].price %>', '<%= record.records[record.records.length - 1].quantity %>', '<%= req.session.userid %>', '<%= record.records[record.records.length - 1].total %>')">Confirm</button>
            <!-- <button class="button is-link is-pulled-right" type="submit" onclick="">Confirm</button> -->
            <!-- <button class=" button is-fullwidth is-info">
                    Confirm
                </button> -->
        </div>
    </div>
</div>
<!-- </form> -->

<!-- <script>
    async function submitForm(formElem) {
        var r = confirm("Confirm?");

        if (r) {

            var response = await fetch(formElem.action, {
                method: formElem.method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: new FormData(formElem),
            });

            if (response.ok) {
                alert("Finished payment");
                location.assign("/priceTracker/homepage");
            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusText);
            }
        } else {
            alert(response.statusText);
        }
    };
</script> -->

<script>
    async function submit(title, price, quantity, fk, total) {
        var r = confirm("Confirm?");

        var methods;

        var ele = document.getElementsByName('method');

        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                methods = ele[i].value
        }

        console.log(methods)



        if (r) {
            const data = { title: title, price: price, quantity: quantity, make: fk, method: methods, total: total }

            var response = await fetch("/user/payment", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                alert("Finished payment");
                location.assign("/priceTracker/homepage");
            } else if (response.status == 409) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 404) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 401) {
                var e = await response.json();
                alert(e)
            }
        } else {
            alert(response.statusText);
        }
    };
</script>